@page "/CookBooks"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject MessageService _message

<div>
    <Input Placeholder="请输入你要查询的菜的近似名" @bind-Value="@txtValue" Class="col-md-3" />
    <button Class="btn btn-primary col-md-1 font-w-b" style="margin-left:15px" @onclick="SearchInfo">查询</button>
    <button Class="btn btn-success col-md-1 font-w-b" @onclick="@(() => { _addvisible = true; })">添加</button>
    <button Class="btn btn-warning col-md-2 font-w-b" @onclick="getAllDatas">获取所有数据</button>
    <br />
    <br />
</div>

<Table @ref="table"
       DataSource="cookBooks"
       Total="_total"
       Bordered="@true"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       OnPageIndexChange="async e => await fetchData(e)"
       @bind-SelectedRows="selectedRows">
    <Selection Key="@context.id.ToString()" />
    <Column Class="tex" Title="id" @bind-Field="@context.id"></Column>
    <Column Class="tex1" Title="名称" @bind-Field="@context.name"></Column>
    <Column Class="tex" Title="材料" @bind-Field="@context.material"></Column>
    <Column Class="tex" Title="配料" @bind-Field="@context.flavour"></Column>
    <Column Class="tex" Title="营养价值" @bind-Field="@context.nutritionalIngredient"></Column>
    <Column Class="tex" Title="菜样图" @bind-Field="@context.image">
        <Tooltip Placement="@PlacementType.Top" Title="@("点击放大图片")">
            <img style="height:30px;width:auto" src=@("http://123.56.152.95:5727/" + context.image) @onclick="lookBigImage" />
        </Tooltip>
    </Column>
    <ActionColumn Title="操作">
        <Space Size="middle">
            <SpaceItem><button class="btn btn-outline-info font-b" style="white-space:nowrap">查看详细</button></SpaceItem>
            <SpaceItem><button class="btn btn-outline-warning font-b" style="white-space:nowrap" @onclick="EnterUpdateForm">修改</button></SpaceItem>
            <SpaceItem>
                <button Class="btn btn-outline-danger font-b" style="white-space:nowrap" @onclick="@(() => { _visible = true; })">删除</button>

            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>
<Modal Visible="@_imagevisible" OnCancel="closeImageShow" Title="@imagetitle" OkType="" Keyboard="true" Footer="@null">
    <img style="height:300px;width:auto;text-align:center" src=@("http://123.56.152.95:5727/"+imagepath) />
</Modal>


@* 更新内容的弹框 *@
<Modal Visible="@_updatevisible" OnOk="@UpdateHandleOk" OnCancel="@UpdateHandleCancel" Title="@updatetitle">
    <Form Model="@updateCookBook">
        <FormItem Label="Id">
            <Input @bind-Value="@context.id" />
        </FormItem>
        <FormItem Label="菜名">
            <Input @bind-Value="@context.name" />
        </FormItem>
        <FormItem Label="材料">
            <TextArea @bind-Value="@context.material" />
        </FormItem>
        <FormItem Label="调料">
            <TextArea @bind-Value="@context.flavour" />
        </FormItem>
        <FormItem Label="营养价值">
            <TextArea @bind-Value="@context.nutritionalIngredient" />
        </FormItem>
    </Form>
</Modal>
@* 添加内容的弹框 *@
<Modal Visible="@_addvisible" OnOk="@addHandleOk" OnCancel="@addHandleCancel" Title="@addtitle" Footer="null">
    <Form Model="@addCookBook">
        <FormItem Label="Id">
            <Input @bind-Value="@context.id" />
        </FormItem>
        <FormItem Label="菜名">
            <Input @bind-Value="@context.name" />
        </FormItem>
        <FormItem Label="材料">
            <Input @bind-Value="@context.material" />
        </FormItem>
        <FormItem Label="调料">
            <Input @bind-Value="@context.flavour" />
        </FormItem>
        <FormItem Label="营养价值">
            <TextArea @bind-Value="@context.nutritionalIngredient"/>
        </FormItem>
    </Form>
    <form enctype="multipart/form-data" method="post">
        <Upload @attributes="attrs" OnSingleCompleted="OnSingleCompleted" Name="file">
            @{
                if (url != "")
                {
                    <img style="width:auto;height:150px" src=@(url) />
                }
                else
                {
                    <img style="width:auto;height:150px" src="img/imgupload.png" />
                }
            }
            <Button Icon="upload">
                <span>点击上传</span>
            </Button>
        </Upload>

    </form>
</Modal>

<h5>selections:</h5>
@if (selectedRows != null && selectedRows.Any())
{
    <Button Danger Size="small" OnClick="@(e => { table.SetSelection(null); })">清除选项</Button>

    @foreach (var selected in selectedRows)
    {
        <Tag @key="selected.id">选中的选项为：@selected.name</Tag>
    }
}
<style>
    .tex1 {
        font-weight: bold;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        text-align: center
    }

    .tex {
        font-weight: bold
    }

    .font-w-b {
        color: white;
        font-weight: bold;
    }

    .font-b {
        font-weight: bold;
    }
</style>

@code {

    public CookBooks[] cookBooks { get; set; }
    public CookBooks updateCookBook { get; set; }
    public CookBooks addCookBook = new CookBooks();


    public string addtitle = "添加信息";
    public string updatetitle = "修改信息";
    public string deletetitle = "删除警告";
    public string imagetitle = "查看图片";
    public string imagepath { get; set; }

    public bool _visible { get; set; }
    public bool _updatevisible { get; set; }
    public bool _addvisible { get; set; }
    public bool _imagevisible { get; set; }

    public string url { get; set; }

    IEnumerable<CookBooks> selectedRows;
    ITable table;

    /// <summary>
    /// 绑定是查询输入框输入的内容
    /// </summary>
    public string txtValue { get; set; }

    int _pageIndex = 1;
    int _pageSize = 5;
    int _total = 0;


    protected override Task OnInitializedAsync()
    {
        url = "";
        return base.OnInitializedAsync();
    }

    protected override Task OnParametersSetAsync()
    {
        getAllCookBookPage();
        return base.OnParametersSetAsync();
    }

    public Task<bool> fetchData(PaginationEventArgs args)
    {
        getAllCookBookPage(args.PageSize, args.PageIndex);
        return Task.FromResult(true);

    }

    public void getAllDatas(EventArgs e)
    {
        getAllCookBookPage();
    }

    void getAllCookBookPage(int pagesize = 5, int pageindex = 1)
    {
        PlatformSDKApi api = new PlatformSDKApi("", ServicesType.FoodAnalysisServices);
        cookBooks = api.GetAllCookBooksPage(pagesize, pageindex).pageList.ToArray();
        _total = api.GetAllCookBooks().cookBooks.Count;
    }

    /// <summary>
    /// 查找按钮事件
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    public async Task SearchInfo(EventArgs e)
    {
        PlatformSDKApi api = new PlatformSDKApi("", ServicesType.FoodAnalysisServices);
        await Task.Run(() =>
        {
            cookBooks = api.SearchCookBookPages(txtValue, _pageSize, _pageIndex).pageList.ToArray();
        });
        _total = cookBooks.Length;
    }

    #region——查看图片内容——
    void lookBigImage(EventArgs e)
    {
        if (selectedRows != null)
        {
            var selectedRow = selectedRows;
            imagepath = selectedRow.First().image;
            _imagevisible = true;
        }
        else
        {
            _message.Error("请先选定要查看详情图片行", 3);
        }
    }
    void closeImageShow(EventArgs e)
    {
        _imagevisible = false;
    }
    #endregion

    #region  ——添加按钮事件——
    public async void addHandleOk(EventArgs e)
    {
        //ValueTask<string> x = JSRuntime.InvokeAsync<string>("getFullPath", fileElement);
        PlatformSDKApi api = new PlatformSDKApi("", ServicesType.FoodAnalysisServices);
        StatuDTO result = api.AddCookBook(addCookBook, null);
        if (result.statusCode == 200)
        {
            await _message.Success("添加成功", 3);
            _addvisible = false;
            getAllCookBookPage();
        }
        else
        {
            await _message.Error("添加失败", 3);
            _addvisible = false;
            getAllCookBookPage();
        }
    }

    public void addHandleCancel(EventArgs e)
    {
        _addvisible = false;
    }
    #endregion

    #region--更新按钮事件——

    private void EnterUpdateForm(EventArgs e)
    {
        string Selected;
        if (selectedRows == null)
        {
            _message.Warning("请先勾选你要修改的条目", 3);
            return;
        }
        else
        {
            if (selectedRows.Count() > 1)
            {
                _message.Warning("一次只能选择一个条目", 3);
                return;
            }
            Selected = selectedRows.First().name;
        }
        PlatformSDKApi api = new PlatformSDKApi("", ServicesType.FoodAnalysisServices);
        updateCookBook = api.SearchCookBook(Selected).cookBooks.First();
        _updatevisible = true;
    }

    private void UpdateHandleOk(MouseEventArgs e)
    {
        PlatformSDKApi api = new PlatformSDKApi("", ServicesType.FoodAnalysisServices);
        StatuDTO result = api.UpdateCookBooksInfo(updateCookBook);
        if (result.statusCode == 200)
        {
            _message.Success("修改成功", 3);
            _updatevisible = false;
            getAllCookBookPage(); 
            table.SetSelection(null);
        }
        else
        {
            _message.Error("修改失败", 3);
            _updatevisible = false;
            getAllCookBookPage();
        }
    }

    private void UpdateHandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _updatevisible = false;
    }
    #endregion

    #region ——文件上传——
    Dictionary<string, object> attrs = new Dictionary<string, object>
    {
        {"action", "http://127.0.0.1:5001/api/CookBook/ImgUpload" },
        {"name", "file" }
    };

    void OnSingleCompleted(UploadInfo fileinfo)
    {
        if (fileinfo.File.State == UploadState.Success)
        {
            url = fileinfo.File.Url;
        }
    }

    public class ResponseModel
    {
        public string name { get; set; }

        public string status { get; set; }

        public string url { get; set; }

        public string thumbUrl { get; set; }
    }
    #endregion

}
